body{
    font-family: "Roboto",Arial;
    margin: 0;
    overflow-x: hidden;
}
header{
  background-color: rgb(5, 122, 5);
  color: white;
  padding: 4px 30px;
  margin-bottom: 0px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.nav-left{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 30px;
}
.nav-left-logo{
    font-weight: bold;
    font-size: 25px;
}
.nav-left input{
  flex: 1;
  padding: 4px 9px;
  box-sizing: border-box;
}
.nav-left input::placeholder{
    font-weight: bold;
    font-size: 12px;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    list-style: none;
    width: 50%;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
.Logout{
    border: 1px solid white;
    padding: 4px 8px;
    font-size: 13px;
}
.Logout:hover{
  background-color: rgb(3, 142, 3);

}
.humberger-menu{
    display: none;
}

.humberger-menu.active .row-2{
    display: none;
}
.humberger-menu.active .row-1{
   transform: translate3d(0,4px,0) rotate(45deg);
   transition: transform .2s;
}
.humberger-menu.active .row-3{
   transform: translate3d(0,-4px,0) rotate(-45deg);
   transition: transform .2s;
}
@media(max-width:768px){
    header{
        padding: 12px 19px 12px 12px;
    }
    header nav ul{
     position: absolute;
     top: -100%;
     left: 0;
     right: 0;
     flex-direction: column;
     gap: 0;
     margin: 0;
     padding-left: 0;
     width: 100%;
     overflow: hidden;
     transition: .5s;

     background-color: rgba(0,0,0,0.9);
    }
    .mobile-nav.isvisible{
        visibility: visible;
        height: unset;
         top: 0%;
    }
    header nav ul li{
        /* width: 100%; */
        padding: 14px 0;
        text-align: center;
    }
    header nav ul li:hover{
     background-color: rgba(0,0,0,0.9);
    }
    header nav ul li a{
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
    .Logout{
        align-self: center;
        display: unset;
    }
    .Logout:hover{
        background-color: unset;
    }
    .humberger-menu{
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;
        cursor: pointer;
        z-index: 9;
    }
    .humberger-menu span{
        width: 26px;
        height: 3px;
        background-color: white;
        border-radius: 1px;

    }

}
@media(max-width:350px){
    .nav-left input{
       width: 100%;
      }
      .nav-left{
        width: 100%;
        gap: 10px;
    }
}